<form name="form" class="panel panel-default" novalidate>
    <div class="panel-heading">
        <h3 class="panel-title" ng-bind="::tab | capitalize"></h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 form-group"
                 ng-class="{
                    'has-error': form.startDate.$invalid && form.$submitted,
                    'has-success': form.startDate.$valid && form.$submitted
                 }">
                <label for="start-date">Start Date</label>
                <datepicker date-format="MMM dd, yyyy" date-min-limit="{{ data.now }}">
                    <input type="text"
                           name="startDate"
                           id="start-date"
                           required="required"
                           ng-model="data.startDate"
                           class="form-control" />
                </datepicker>
            </div>

            <div class="col-sm-6 form-group"
                 ng-class="{
                    'has-error': form.endDate.$invalid && form.$submitted,
                    'has-success': form.endDate.$valid && form.$submitted
                 }">
                <label for="end-date">End Date</label>
                <datepicker date-format="MMM dd, yyyy" date-min-limit="{{ data.now }}">
                    <input type="text"
                           name="endDate"
                           id="end-date"
                           ng-model="data.endDate"
                           required="required"
                           class="form-control" />
                </datepicker>
            </div>
        </div>

        <div ng-include="feature"></div>
    </div>

    <div class="panel-footer clearfix">
        <button type="submit"
                ng-click="data.search($event)"
                class="btn btn-primary pull-right">
            Search
        </button>
        <button type="reset"
                ng-click="data.clear()"
                class="btn btn-link pull-right">
            Clear
        </button>
    </div>
</form>
